<style>
    main {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        overflow: hidden;
    }
</style>

<main>
    <div id='player-column-1'>
    </div>
    <div id='main-display'>
        <div id='banner'>
            <h1>
                <span class='a'>D</span><span class='b'> i </span><span class='a'>n</span><span class='b'>g</span><span class='a'>B</span><span class='b'>a</span><span class='a '>t</span><span class='b'>!</span>
            </h1>
        </div>
        <div id='question-display'>
            <h2 id='room-number'>Enter room " <%= @room.id %> " to join!</h2>
            <h3 id='waiting'>Press the button<br>on your screen<br>to rock and roll!</h3>
        </div>
    </div>
    <div id='player-column-2'>
    </div>
</main>

<script>
    $(document).ready(function() {
        const roomID = <%= @room.id %>;
        setTimeout(function () {
            App.host.host(parseInt(roomID));
        }, 1000);

        <% if @room.players.any? %>
            <% @room.players.each_with_index do |p, i| %>
                addDashboardPlayerPortrait(
                    new Player({
                      "id": <%= p.id %>,
                      "name": "<%= p.name %>",
                      "player_color": "<%= p.player_color %>",
                      "player_icon": "<%= p.player_icon %>"
                    }),
                    <%= i+1 %>
                )
            <% end %>
        <% end %>
    });
</script>
